@import 'src/variables';

.histogram {
  // display: flex;
  // justify-content: space-between;
}

.labels {
  position: relative;
}

.histogram-month-label {
  border-top: 5px solid;
  color: $light-grey;
  display: inline-block;
  padding: 1rem 0;
  position: absolute;
  text-align: center;
  top: 5px;
}

.bars {
  bottom: 0;
  height: 200px;
  position: relative;
  width: 100%;
}

.bar {
  background-color: $blue;
  bottom: 0;
  position: absolute;
  transition: height .15s ease-out;
}
